/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #2a2a2a;
}

p {
  text-align: justify;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: white;
}

h1 {
  font-size: 2.8rem;
  color: #26b762;
}

.nowrap {
  white-space: nowrap;
}

.menu-icon {
  display: none;
  z-index: 10;
}

/* Header Styles */

.header-list-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
  border-bottom: 1px solid #ffffff1a;
  background-color: #2a2a2a;
  color: white;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
}

.first-header-div {
  width: 50%;
  font-size: 1.4rem;
  font-weight: bold;
  white-space: nowrap;
}

.first-header-div span {
  color: #26b762;
}

.first-header-div a {
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.second-header-div {
  width: 50%;
}

.second-header-div a {
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}

.second-header-div a:hover {
  color: #26b762;
}

.second-header-div a:active {
  color: #26b762;
}

.header-list-div ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Section Styles */

.first-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  padding-left: 10rem;
}

.first-section-div {
  position: relative;
  width: 60%;
  height: 100vh;
  background-image: url(../img/Foto-Teste6.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  mix-blend-mode: lighten;
  object-fit: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.first-text {
  width: 40%;
  color: white;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10rem;
}

.third-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.5rem;
  background-color: #202020;
  padding-right: 10rem;
  padding-left: 10rem;
  height: 100vh;
}

.third-section-div img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  border-radius: 20px;
}

.third-text {
  width: 90%;
  color: white;
}

.fourth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10rem;
}

.fifth-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  padding-left: 10rem;
}

.fifth-text {
  width: 40%;
  color: white;
}

.fifth-section-div {
  position: relative;
  width: 60%;
  height: 100vh;
  background-image: url(../img/Foto-Teste10.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: lighten;
  object-fit: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.sixth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10rem;
}

.seventh-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  padding-left: 10rem;
}

.seventh-section-div {
  position: relative;
  width: 60%;
  height: 100vh;
  background-image: url(../img/Foto-Teste9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: lighten;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.seventh-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  color: white;
  font-size: 1.5rem;
}

.seventh-list a {
  color: white;
  transition: all .45s ease;
}

.seventh-list li {
  padding-top: 1rem;
}

.seventh-list li:first-child a:hover {
  color: #FFDF00
}

.seventh-list li:nth-child(2) a:hover,
.seventh-list li:nth-child(3) a:hover {
  color: #75AADB;
}

.seventh-list li:nth-child(4) a:hover {
  color: #FF0000;
}

.seventh-list li:last-child a:hover {
  color: #AE1C28;
}

.pele-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.5rem;
  background-color: #2a2a2a;
  padding-right: 10rem;
  padding-left: 10rem;
  height: 100vh;
}

.pele-section-div img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  border-radius: 20px;
}

.pele-text {
  width: 90%;
  color: white;
}

.pele-text h1 {
  color: #FFDF00;
}

.maradona-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  background-color: #202020;
  padding-left: 10rem;
  padding-right: 10rem;
  height: 100vh;
}

.maradona-section-div img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  border-radius: 20px;
}

.maradona-text {
  width: 90%;
  color: white;
}

.maradona-text h1 {
  color: #75AADB;
}

.messi-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  height: 100vh;
}

.messi-section-div img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  border-radius: 20px;
}

.messi-text {
  width: 90%;
  color: white;
}

.messi-text h1 {
  color: #75AADB;
}

.cristiano-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  height: 100vh;
  background-color: #202020;
}

.cristiano-section-div img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  border-radius: 20px;
}

.cristiano-text {
  width: 90%;
  color: white;
}

.cristiano-text h1 {
  color: #FF0000;
}

.johan-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  height: 100vh;
}

.johan-section-div img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  border-radius: 20px;
}

.johan-text {
  width: 90%;
  color: white;
}

.johan-text h1 {
  color: #FF0000;
}

/* Footer Styles */

.footer-div {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10rem;
}

.footer-div p {
  padding: 0;
  font-size: 14px;
}

.footer-div svg {
  background-color: #26b762;
  border-radius: 8px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

/* Media Styles */

@media (max-width: 1500px) {

  .seventh-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 4rem 0 4rem;
  }

  .seventh-text h1 {
    padding-left: 8.5rem;
    padding-bottom: 2rem;
  }

  .seventh-text {
    align-items: flex-start;
    width: 100%;
  }

  .seventh-section-div {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .seventh-text h1 {
    text-align: center;
    padding-left: 0;
    padding-bottom: 2rem;
  }

}

@media (max-width: 1100px) {

  .third-container {
    grid-template-columns: 1fr;
    padding: 2rem 10rem;
  }

  .third-container img {
    height: 400px;
  }

  .seventh-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 4rem 0 4rem;
  }

  .seventh-text h1 {
    padding-left: 0;
    padding-bottom: 2rem;
  }

  .seventh-text {
    align-items: flex-start;
    width: 100%;
  }

  .seventh-section-div {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .seventh-text h1 {
    padding-left: 0rem;
    padding-bottom: 2rem;
  }

  .fifth-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 10rem 0 10rem;
  }

  .fifth-section-div {
    background-position: 45%;
    width: 100%;
  }

  .fifth-text {
    width: 100%;
  }


}

@media (max-width: 1000px) {

  #menu-icon {
    display: block;
  }

  .header-list-div ul {
    align-items: flex-start;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    text-align: left;
    transition: all .45s ease;
    padding: 0 9rem;
  }

  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    color: white;
  }

  .navlist a:hover {
    color: #26b762;
  }

  .navlist a:active {
    color: white;
  }

  .navlist.open {
    top: 100%;
  }

}

@media (max-width: 850px) {

  .header-list-div {
    padding: 1rem 4rem;
  }

  .navlist {
    padding: 0 3rem;
  }

  .first-container {
    padding-left: 4rem;
    padding-right: 4rem;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
    height: 100vh;
  }

  .first-text {
    width: 100%;
  }

  .first-section-div {
    width: 100%;
    background-size: cover;
    background-position: left;
    height: 60vh;
  }

  .second-container {
    padding: 0 4rem;
  }

  .third-container {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }

  .fourth-container {
    padding: 0 4rem;
  }
  
  .fifth-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 4rem 0 4rem;
  }

  .fifth-section-div {
    background-position: 45%;
    width: 100%;
  }

  .fifth-text {
    width: 100%;
  }

  .sixth-container {
    padding: 0 4rem;
  }

  .seventh-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 4rem 0 4rem;
  }

  .seventh-text h1 {
    padding-left: 0;
    padding-bottom: 2rem;
  }

  .seventh-text {
    align-items: flex-start;
    width: 100%;
  }

  .seventh-section-div {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .pele-container {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }

  .maradona-container {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }

  .messi-container {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }

  .cristiano-container {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }

  .johan-container {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }

  .footer-div {
    padding: 0 4rem;
  }

}

@media (max-width: 550px) {
  
  body h1 {
    font-size: 2rem;
  }

  body p {
    font-size: 1rem;
  }

  .footer-div-one p {
    font-size: 0.8rem;
  }

  .footer-div svg {
    border-radius: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
  }

}

@media (max-width: 480px) {

  .footer-div {
    padding-left: 0;
    padding-right: 0;
  }

  .header-list-div {
    padding-left: 0;
    padding-right: 0;
  }

  .navlist {
    padding-left: 0;
    padding-right: 0;
  }

}

@media (max-width: 430px) {

  body h1 {
    font-size: 1.5rem;
  }

  body p {
    font-size: 0.8rem;
  }

  .header-list-div {
    padding-left: 0;
    padding-right: 0;
  }

  .navlist {
    padding: 0;
  }

  .first-container {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
    height: 100vh;
  }

  .first-text {
    width: 100%;
  }

  .first-section-div {
    width: 100%;
    background-size: cover;
    background-position: left;
    height: 60vh;
  }

  .second-container {
    padding: 0 1rem;
  }

  .third-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .fourth-container {
    padding: 0 1rem;
  }
  
  .fifth-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1rem 0 1rem;
  }

  .fifth-section-div {
    background-position: 45%;
    width: 100%;
  }

  .fifth-text {
    width: 100%;
  }

  .sixth-container {
    padding: 0 1rem;
  }

  .seventh-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1rem 0 1rem;
  }

  .seventh-text h1 {
    padding-left: 0;
    padding-bottom: 2rem;
  }

  .seventh-text {
    align-items: flex-start;
    width: 100%;
  }

  .seventh-section-div {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .seventh-list a {
    font-size: 1rem;
  }

  .pele-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .maradona-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .messi-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .cristiano-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .johan-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .footer-div {
    padding: 0
  }

}

@media (max-width: 360px) {

  body h1 {
    font-size: 1.2rem;
  }

  body p {
    font-size: 0.6rem;
  }

  .footer-div {
    flex-direction: column-reverse;
  }

  .footer-div-one {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .footer-div-two {
    margin-top: 0.5rem;
  }

  .first-header-div a {
    font-size: 1.4rem;
  }

}

@media (max-width: 840px) and (max-height: 850px) {

  .third-section-div img {
    height: 300px;
  }
  
}

@media (max-width: 840px) and (max-height: 760px) {

  .pele img,
  .maradona img,
  .messi img,
  .cristiano img,
  .johan img {
    height: 300px;
    object-position: 0px -40px;
  }

}

@media (max-height: 670px) {

  body p {
    font-size: 1rem;
  }

  body h1 {
    font-size: 2.2rem;
  }

}

@media (max-height: 560px) {

  .third-section-div img {
    height: 200px;
  }

}

@media (max-height: 520px) {

  body p {
    font-size: 0.8rem;
  }

  body h1 {
    font-size: 1.8rem;
  }

}